@media screen and (max-width: 768px) {
  /* * {
    outline: 1px solid #000;
  } */

  html {
    font-size: 8px;
  }

  /* MAIN_VISUAL CSS CODE */
  .main_visual {
    position: relative;
    letter-spacing: -0.025em;
    overflow: hidden;
  }

  .main_visual #bg_video {
    height: 100vh !important;
  }

  .main_visual #bg_video_02 {
    height: 100vh !important;
  }

  .main_visual #bg_video_03 {
    height: 100vh !important;
  }

  .main_visual .slick-dots {
    display: block;
    left: 5%;
  }

  .main_visual .slick-dots.on {
    display: none !important;
  }

  .main_visual .slick-dots li {
    cursor: auto;
  }

  .main_visual .tiny_btn {
    bottom: 3.2rem;
    right: 5%;
    z-index: 999;
    transition: 0s;
  }

  .main_visual .tiny_btn img {
    bottom: 4rem;
  }

  .main_visual #bg_video_03 .tiny_btn img {
    bottom: 1.6rem;
  }

  .main_visual .tiny_btn:hover {
    background-color: transparent;
    color: #fff;
  }

  /* HEADER CSS CODE */
  #header .gnb {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .gnb h1 {
    display: flex;
    align-items: center;
    margin-top: 0;
    width: 25%;
  }

  .gnb .form_box {
    display: inline-block;
  }

  .gnb .search_box {
    right: 25%;
    border: 0.1rem solid #ddd;
    background: transparent;
    transition: 0.5s;
  }

  .gnb .search_box.on {
    opacity: 1;
    width: 15rem;
  }

  .gnb .icon_menu {
    margin-right: 1.5rem;
    font-size: 2.5rem;
  }

  .gnb .icon_menu a {
    padding: 0 1rem;
  }

  #header .left_menu {
    position: fixed;
    z-index: 10000;
    padding: 8%;
    width: 80%;
    height: 100vh;
  }

  .left_menu figure {
    margin-bottom: 9rem;
    width: 35%;
  }

  .left_menu .top_menu_set,
  .bottom_menu_set {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 5.5rem;
  }

  .left_menu dl dd {
    display: none;
  }

  .left_menu .top_menu_set::before,
  .bottom_menu_set::before {
    display: none;
  }

  /* SONY PRODUCT SECTION CSS CODE */
  #main section {
    padding: 10rem 2.5rem;
  }

  #main .sony_product .container {
    width: auto;
  }

  .sony_product .container .title_box {
    margin-bottom: 9rem;
  }

  .sony_product .title_box h3 {
    margin-bottom: 3.5rem;
    width: auto;
    font-size: 4.2rem;
    text-align: left;
  }

  .sony_product .title_box h3::after {
    top: 110%;
    display: block;
    width: 100%;
  }

  .sony_product .title_box strong {
    font-size: 1.9rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.213;
  }

  .sony_product .title_box strong br {
    display: block;
  }

  .sony_product .product_introduce {
    position: relative;
    height: 50rem;
  }

  .sony_product .product_introduce a {
    position: relative;
    display: block;
    width: 40%;
    height: 25rem;
    font-size: 1.4rem;
    text-align: center;
    transition: 0.6s;
  }

  .sony_product .product_introduce .video_camera {
    display: none;
  }

  .sony_product .product_introduce .accessory {
    display: none;
  }

  .sony_product .product_introduce a:hover {
    /* background-color: transparent; */
    color: #111;
  }

  .sony_product .product_introduce p {
    position: absolute;
    bottom: 10%;
  }

  .sony_product .product_introduce .top_set,
  .sony_product .product_introduce .bottom_set {
    position: absolute;
    display: flex;
    width: 100%;
  }

  .sony_product .product_introduce .top_set {
    top: 0;
  }

  .sony_product .product_introduce figure {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 60%;
  }

  .sony_product .product_introduce .bottom_set {
    left: 0;
  }

  .bottom_set .more_pd p {
    bottom: auto;
    line-height: 1.313;
  }

  .bottom_set .more_pd::after,
  .more_pd::before {
    display: none;
  }

  .more_pd:hover::before,
  .more_pd:hover::after {
    width: 250%;
    background-color: #000;
    transition: 0.9s;
  }

  /* EVENT SECTION CSS CODE */
  #main .event {
    background-color: #000;
    color: #ddd;
  }

  .event .container {
    position: relative;
    width: auto;
  }

  .event .event_title_box {
    margin-bottom: 4rem;
  }

  .event .event_title_box h3 {
    margin-bottom: 1.5rem;
  }

  .event .event_title_box p {
    line-height: 1.412;
  }

  .event .event_slider {
    padding: 0 10%;
  }

  .event .event_slider figure {
    margin-bottom: 4rem;
  }

  .event .event_slider .event_desc {
    width: 100%;
    text-align: center;
  }

  .event .event_desc h4 {
    margin-bottom: 2.5rem;
    font-size: 2.3rem;
  }

  .event .event_desc p {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }

  .event .event_desc strong {
    margin-bottom: 4.5rem;
  }

  .event .event_desc a {
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    border: 1px solid #2f2a2d;
    padding: 3% 0;
    font-size: 1.7rem;
  }

  .event .event_desc a:hover {
    color: #ddd;
    background-color: #000;
  }

  .event i {
    cursor: auto;
  }

  .event i:nth-of-type(1) {
    top: 40%;
  }

  .event i:nth-of-type(2) {
    top: 40%;
  }

  /* WH-1000XM5 / LINKBUDS / CAMERA CSS CODE */
  /* 주석 처리 시 위 아래 공간이 생긴다. */
  .wh-1000xm5>.itm01,
  .linkbuds>.itm02,
  .camera>.itm03 {
    float: none;
    margin-bottom: 5rem;
    width: auto;
    height: 40vh;
  }

  .sticky {
    position: static;
  }

  .wh-1000xm5,
  .linkbuds,
  .camera {
    border-bottom: 0.1rem solid #ddd;
  }

  .linkbuds {
    display: flex;
    flex-direction: column-reverse;
  }

  #main .wh-1000xm5 .right,
  #main .linkbuds .left,
  #main .camera .right {
    float: none;
    padding: 0;
    width: auto;
  }

  #main .linkbuds .left {
    float: none;
  }

  .wh-1000xm5 .title_box h3,
  .linkbuds .title_box h3,
  .camera .title_box h3 {
    margin-bottom: 2rem;
  }

  .wh-1000xm5 .title_box p,
  .linkbuds .title_box p,
  .camera .title_box p {
    font-size: 1.7rem;
  }

  #main .wh-1000xm5 .right>figure,
  #main .linkbuds .left>figure,
  #main .camera .right>figure {
    margin: 0 auto 3.5rem auto;
    width: auto;
    height: 50rem;
  }

  .wh-1000xm5 .right .desc_box,
  .linkbuds .left .desc_box,
  .camera .right .desc_box {
    margin-bottom: 5rem;
  }

  .wh-1000xm5 .right .desc_box>h4,
  .linkbuds .left .desc_box>h4,
  .camera .right .desc_box>h4 {
    font-size: 2.3rem;
  }

  .wh-1000xm5 .desc_box .event_desc_box,
  .linkbuds .desc_box .event_desc_box,
  .camera .desc_box .event_desc_box {
    position: relative;
  }

  .wh-1000xm5 .desc_box .event_desc_box::after,
  .linkbuds .desc_box .event_desc_box::after,
  .camera .desc_box .event_desc_box::after {
    width: 100vw;
  }

  .wh-1000xm5 .desc_box .event_desc_box figure,
  .linkbuds .desc_box .event_desc_box figure,
  .camera .desc_box .event_desc_box figure {
    position: relative;
    margin: 0 auto 3.5rem auto;
    width: auto;
    height: 25rem;
  }

  .wh-1000xm5 .desc_box .event_desc_box figure::after,
  .linkbuds .desc_box .event_desc_box figure::after,
  .camera .desc_box .event_desc_box figure::after {
    top: -32%;
    display: none;
  }

  .wh-1000xm5 .event_desc_box strong,
  .linkbuds .event_desc_box strong,
  .camera .event_desc_box strong {
    display: block;
    margin-bottom: 1.2rem;
    font-size: 1.9rem;
  }

  .wh-1000xm5 .event_desc_box span,
  .linkbuds .event_desc_box span,
  .camera .event_desc_box span {
    font-size: 1.5rem;
  }

  .wh-1000xm5 .event_desc_box .btn,
  .linkbuds .event_desc_box .btn,
  .camera .event_desc_box .btn {
    width: 25%;
    font-size: 1.6rem;
  }

  .wh-1000xm5 .prdct_summary,
  .linkbuds .prdct_summary,
  .camera .prdct_summary {
    margin-bottom: 0;
    padding: 0 2rem;
  }

  .wh-1000xm5 .prdct_summary h4,
  .camera .prdct_summary h4 {
    margin-bottom: 4rem;
  }

  .wh-1000xm5 .summary:nth-child(-n+3),
  .linkbuds .summary:nth-child(-n+3),
  .camera .summary:nth-child(-n+3) {
    margin-bottom: 7rem;
  }

  .wh-1000xm5 .summary_relax .intro_desc em,
  .wh-1000xm5 .summary_noise .intro_desc em,
  .wh-1000xm5 .summary_calm .intro_desc em,
  .linkbuds .summary_relax .intro_desc em,
  .linkbuds .summary_noise .intro_desc em,
  .linkbuds .summary_calm .intro_desc em,
  .camera .summary_relax .intro_desc em,
  .camera .summary_noise .intro_desc em,
  .camera .summary_calm .intro_desc em {
    position: absolute;
    top: 30%;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .wh-1000xm5 .summary_relax .intro_desc em,
  .linkbuds .summary_relax .intro_desc em,
  .camera .summary_relax .intro_desc em {
    left: -8%;
  }

  .wh-1000xm5 .summary_calm .intro_desc em,
  .linkbuds .summary_calm .intro_desc em,
  .camera .summary_calm .intro_desc em {
    left: auto;
    right: -7%;
  }

  .wh-1000xm5 .summary_noise .intro_desc em,
  .linkbuds .summary_noise .intro_desc em,
  .camera .summary_noise .intro_desc em {
    left: -7.5%;
  }

  .wh-1000xm5 .btn,
  .linkbuds .btn,
  .camera .btn {
    width: 25%;
    font-size: 1.6rem;
  }

  /* SECTION SCHEDULE CSS CODE */
  #main .academy {
    padding-top: 5rem;
  }

  .academy .container {
    width: auto;
  }

  .academy .container h3 {
    margin-bottom: 1.5rem;
  }

  .academy .container p {
    margin-bottom: 10rem;
    line-height: 1.231;
  }

  .academy .schedule {
    position: relative;
    padding: 0;
    border: none;
  }

  .academy .container .schedule .btn.taviraj {
    right: 9%;
  }

  .academy .schedule .left {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    width: 130%;
  }

  .academy .schedule .left .monthly {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.5rem;
  }

  .academy .schedule .left .monthly strong {
    position: relative;
    display: block;
    margin: 0 0 0.5rem 0;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .academy .left .monthly .middle {
    display: flex;
  }

  .academy .monthly .middle h4 {
    margin-left: 0;
  }

  .academy .schedule .left>* {
    flex: 1;
  }

  .academy .schedule .right {
    display: none;
    width: 0;
  }

  .academy .right .slot {
    display: none;
  }

  /* CS CSS CODE */
  #main .cs {
    padding: 5rem 2rem;
    background-color: #f9f9f9;
    color: #333;
  }

  #main .cs .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: auto;
  }

  .cs h3 {
    padding: 0;
  }

  .cs .service_box {
    width: auto;
  }

  .cs .service_box .service {
    padding: 0.2rem 1rem 0 1rem;
    width: 150%;
    text-align: center;
  }

  .cs .service_box .box {
    margin-top: 0;
    width: 10rem;
    height: 10rem;
    padding: 2rem;
  }

  /* FOOTER CSS CODE */
  #footer {
    padding: 5rem 0;
    background-color: #000;
    color: #ddd;
  }

  #footer .container {
    position: relative;
    flex-direction: column-reverse;
    gap: 3rem;
    padding: 0 2rem;
    width: auto;
  }

  #footer .container::after {
    top: 42%;
    right: 0;
    width: 100%;
    height: 0.1rem;
  }

  #footer .container .left h4 {
    margin-bottom: 1.8rem;
  }

  #footer .container .left .site_box {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 5.2rem;
  }

  #footer .left .site_box>* {
    width: 30%;
  }

  #footer .left address {
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.4;
  }

  #footer .right h2 {
    right: 2rem;
    width: 30%;
  }

  #footer .right .list_set {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    margin: 6rem 0 0 0;
    font-size: 1.5rem;
  }

  #footer .list_set ul {
    display: none;
  }

  #footer .follow_set {
    margin-bottom: 5rem;
  }
}