@media screen and (max-width: 768px) {
  /* * {
    outline: 0.1rem solid #333;
  } */

  html {
    font-size: 8px;
  }

  section {
    padding: 5.5rem 0;
    letter-spacing: -0.025em;
  }

  .title_box h3 {
    margin-bottom: 3.5rem;
    font-size: 2.9rem;
    font-weight: 600;
  }

  .title_box p {
    margin-bottom: 2.8rem;
    font-size: 1.7rem;
    font-weight: 400;
  }

  .container {
    width: auto;
  }

  .hidden {
    height: 100%;
    overflow: hidden;
  }

  /* TOP_HEADER CSS CODE */
  .top_header {
    display: none;
  }

  /* HEADER CSS CODE */
  header .big_box {
    border-bottom: none;
  }

  header .logo_box {
    display: flex;
    justify-content: center;
    border-bottom: none;
    padding: 2rem;
  }

  header .logo_box img {
    margin: 0 auto;
    width: 15%;
  }

  header .container .gnb {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    padding: 8rem 0;
    width: calc(100% - 10.5rem);
    height: 100vh;
    background-color: #fff;
    transition: 0.5s;
  }

  header .container .gnb.rpsv {
    left: 0;
  }

  header .gnb .main_menu {
    flex-direction: column;
  }

  header .gnb .main_menu>li a {
    display: block;
    padding: 2.3rem 0 2.3rem 2rem;
    font-size: 2.9rem;
    text-align: left;
  }

  header .main_menu>li:first-child::after {
    content: '';
    display: none;
  }

  header .main_menu .sub_menu {
    display: none;
    position: static;
    width: auto;
    height: 0;
    opacity: 1;
    transition: 0s;
  }

  header .main_menu>li.rpsv .sub_menu {
    display: flex;
    height: 7rem;
  }

  header .main_menu .sub_menu>li a {
    font-size: 1.9rem;
    font-weight: 400;
  }

  header .gnb .side_menu {
    display: none;
  }

  header .mbtn {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    display: block;
    z-index: 999;
    border: none;
    font-size: 3.3rem;
    background: transparent;
  }

  header .main_visual {
    position: relative;
  }

  header .main_slider figure {
    width: auto;
    height: 50rem;
  }

  header .main_visual .desc_box {
    left: 50%;
    transform: translateX(-50%);
    padding: 17% 0;
    width: 35rem;
    height: 50rem;
    text-align: center;
    color: #ddd;
    background: rgba(0, 0, 0, 0.8);
  }

  header .main_slider .slick-dots {
    display: none !important;
  }

  header .desc span {
    font-size: 1.5rem;
  }

  header .desc h2 {
    font-size: 3.1rem;
  }

  header .desc p {
    font-size: 2rem;
  }

  header .desc .btn {
    margin: 0 auto;
    padding: 1.5rem 0;
    font-size: 1.7rem;
  }

  /* PRODUCT SECTION CSS CODE */
  main .product {
    padding: 5.5rem 0;
    height: auto;
  }

  main .product .title_box {
    width: auto;
  }

  main .product .title_box p {
    display: none;
  }

  .product .slide_box {
    position: static;
    display: flex;
    flex-direction: column-reverse;
  }

  .product .left_slider {
    float: none;
    margin: 0 auto 3rem auto;
    text-align: center;
  }

  .product .slide_box .left_slider {
    padding-top: 1.5rem;
  }

  .product .left_slider .prd_desc h4 {
    margin-bottom: 2.9rem;
  }

  .product .left_slider .prd_desc p {
    margin-bottom: 2.6rem;
  }

  .product .prd_desc .sub_desc {
    justify-content: center;
    margin: 0 auto 2rem auto;
  }

  .product .prd_desc em {
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  .product .prd_desc .btn {
    margin: 0 auto;
  }

  .product .right_slider {
    position: relative;
    float: none;
    margin: 0 auto 2rem auto;
    width: 100%;
  }

  .product .right_slider .slick-arrow {
    position: absolute;
    border: none;
    color: transparent;
    background: transparent;
  }

  .product .right_slider .slick-prev {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }

  .product .right_slider .slick-prev::after {
    content: "\e93d";
    font-family: xeicon;
    position: absolute;
    top: 1300%;
    left: -10%;
    font-size: 6rem;
    color: #ddd;
  }

  .product .right_slider .slick-next::after {
    content: "\e940";
    font-family: xeicon;
    position: absolute;
    top: 1300%;
    left: -10%;
    font-size: 6rem;
    color: #ddd;
  }

  .product .right_slider .slick-next {
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
  }

  .product .right_slider figure {
    margin: 0;
    width: auto;
    background-size: contain;
  }

  /* WB_INTRO CSS CODE */
  main .wb_intro {
    position: relative;
    height: auto;
    background: linear-gradient(#346c4f 46%, transparent 46%);
  }

  .wb_intro .container .wellness_book {
    margin-bottom: 5rem;
    height: 30rem;
  }

  .wb_intro .wellness_book .book_center {
    display: none;
  }

  .wb_intro .container .letter {
    display: none;
  }

  .wb_intro .sub_title {
    display: block;
    border-bottom: 0.1rem solid #ddd;
    padding-bottom: 6.25rem;
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
  }


  /* WB SECTION CSS CODE */
  .wb>div {
    padding: 5.5rem 2rem;
  }

  .wb figure {
    width: auto;
    height: 36.4rem;
  }

  .wb>div .container>figure {
    margin-bottom: 2.2rem;
  }

  .wb .f_left,
  .wb .f_right {
    float: none;
  }

  .wb .desc,
  .wb .upcycle .desc {
    padding: 0;
    text-align: center;
  }

  .wb .sustain {
    background: linear-gradient(transparent 65%, #346c4f 65%);
  }

  .wb .desc span {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .wb .desc h4 {
    margin-bottom: 5.3rem;
    font-size: 2.3rem;
    line-height: 1.31;
  }

  .wb .desc strong {
    margin-bottom: 2.5rem;
  }

  .wb .sustain .desc strong {
    color: #fff;
  }

  .wb .desc em {
    display: block;
    margin-bottom: 2.8rem;
    font-size: 1.9rem;
    font-weight: 500;
  }

  .wb .desc p {
    margin-bottom: 2.5rem;
    line-height: 1.433;
  }

  .wb .desc .btn,
  .wb .upcycle .desc .btn {
    margin: 0 auto;
  }

  /* other brand css code */
  main .other_brand {
    height: auto;
  }

  main .other_brand .container .title_box {
    margin-bottom: 2.5rem;
    text-align: center;
  }

  main .other_brand .container .title_box h3 {
    font-size: 2.5rem;
  }

  main .other_brand .container .title_box p {
    font-size: 1.5rem;
  }

  main .other_brand .container .brand_box {
    grid-template-columns: repeat(3, auto);
    position: relative;
    padding: 0 2rem;
  }

  .other_brand .brand_box .selection {
    height: 20rem;
  }

  .other_brand .brand_box .hwa_e_rak {
    display: none;
  }

  .other_brand .brand_box a.on {
    border: 0.3rem solid #f00;
  }

  .other_brand .brand_box>.btn {
    top: -2.5%;
    left: auto;
    right: 3.3%;
    padding: 0.4rem 0.9rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .other_brand .each_brand.on {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    overflow: hidden;
  }

  .other_brand .each_brand .box {
    left: auto;
    transform: translateY(-55%);
  }

  .other_brand .each_brand:nth-of-type(2) .box,
  .other_brand .each_brand:nth-of-type(4) .box,
  .other_brand .each_brand:nth-of-type(5) .box,
  .other_brand .each_brand:nth-of-type(8) .box,
  .other_brand .each_brand:nth-of-type(9) .box,
  .other_brand .each_brand:nth-of-type(10) .box {
    left: 0;
  }

  .other_brand .f_left,
  .other_brand .f_right {
    float: none;
  }

  .other_brand .each_brand .box>figure {
    transform: translateX(0);
    margin: 0 auto 1rem auto;
    width: 15rem;
    height: 15rem;
  }

  .other_brand .each_brand .right {
    margin: 0;
  }

  .other_brand .each_brand .right h4 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
  }

  .other_brand .each_brand .right p {
    margin-bottom: 3rem;
    font-size: 1.7rem;
    line-height: 1.4;
    text-align: center;
  }

  .other_brand .each_brand .right .btn {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  .other_brand .each_brand .right .btn .icon {
    margin: 0 auto 0.5rem auto;
    width: 5rem;
    height: 5rem;
  }

  /* MEDIA SECTION CSS CODE */
  main .media {
    height: auto;
  }

  .media .container {
    padding: 0 2rem;
  }

  .media .f_left {
    float: none;
  }

  .media .container .left {
    position: relative;
    padding: 0 5rem;
    text-align: center;
  }

  .media .left h3 {
    margin-bottom: 3rem;
  }

  .media .left strong {
    position: relative;
    margin-bottom: 3.9rem;
  }

  .media .left strong::after {
    left: 50%;
    transform: translatex(-50%);
    width: 90%;
    height: 0.2rem;
  }

  .media .left .media_tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin: 0 auto 4.9rem auto;
  }

  .media .left .media_tab li a {
    font-size: 2.1rem;
  }

  .media .left .btn {
    position: absolute;
    top: 111%;
    left: auto;
    right: -10%;
    transform: translateX(-50%);
    width: 20%;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .media .right.on {
    width: 100%;
  }

  .media .right .hover_box {
    display: none;
  }

  /* FOOTER CSS CODE */
  footer .top_footer .container,
  footer .bottom_footer .container {
    padding: 0 2rem;
  }

  footer .top_footer .top h3 {
    margin: 0 auto 5.5rem auto;
  }

  footer .top_footer .site {
    display: none;
  }

  footer .top_footer h3 {
    width: 20%;
  }

  footer .top_footer .top {
    display: flex;
    justify-content: space-between;
  }

  footer .top_footer .bottom {
    display: flex;
    justify-content: center;
  }

  footer .bottom_footer .top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .bottom_footer .top .footer_list {
    margin-bottom: 3rem;
  }

  footer .bottom_footer .top .sns_box strong {
    margin-bottom: 1rem;
    text-align: center;
  }

  footer .bottom_footer .top .sns_list {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    font-size: 1.7rem;
    transform: translateX(0);
  }

  footer .bottom_footer .bottom span {
    font-weight: 400;
    letter-spacing: 0.025em;
    text-align: center;
  }
}